@font-face {
    font-family: 'Rammetto One';
    src: url('../fonts/RammettoOne-Regular.svg') format('svg'),
        url('../fonts/RammettoOne-Regular.woff2') format('woff2'),
        url('../fonts/RammettoOne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'LatoR';
    src: url('../fonts/lato-regular-webfont.svg') format('svg'),
    url('../fonts/lato-regular-webfont.eot') format('eot'),
    url('../fonts/lato-regular-webfont.ttf') format('ttf'),
    url('../fonts/lato-regular-webfont.woff') format('woff');
}
@font-face {
    font-family: 'LatoB';
    src: url(../fonts/lato-bold-webfont.eot) format('eot'),
    url(../fonts/lato-bold-webfont.svg)format('svg'),
    url(../fonts/lato-bold-webfont.ttf)format('ttf'),
    url(../fonts/lato-bold-webfont.woff)format('woff');
}
@font-face {
    font-family: 'MagraB';
    src: url(../fonts/magra-bold-webfont.eot) format('eot'),
    url(../fonts/magra-bold-webfont.svg)format('svg'),
    url(../fonts/magra-bold-webfont.ttf)format('ttf'),
    url(../fonts/magra-bold-webfont.woff)format('woff');
}
@font-face {
    font-family: 'Quicksand';
    src: url(../fonts/quicksand-bold-webfont.eot)format('eot'),
    url(../fonts/quicksand-bold-webfont.svg)format('svg'),
    url(../fonts/quicksand-bold-webfont.ttf)format('ttf'),
    url(../fonts/quicksand-bold-webfont.woff)format('woff');
}
@font-face {
    font-family: 'RobotoR';
    src: url(../fonts/roboto-regular-webfont.eot)format('eot'),
    url(../fonts/roboto-regular-webfont.svg)format('svg'),
    url(../fonts/roboto-regular-webfont.ttf)format('ttf'),
    url(../fonts/roboto-regular-webfont.woff)format('woff');
}
body{
    padding: 0;
    margin:0;
    background-color: #f8f8f8;
}
.container{
    box-sizing: border-box;
    width: 960px;
    padding-top: 40px;
    margin: 0 auto;
}
.bg-header{
    background-color: rgb(176, 163, 169, .2);
    height: 120px;
}
header h1{
    margin: 0;
}
header h1 a{
    font-family: 'Rammetto One';
    font-size: 30px;
    color: #cb3362;
    text-decoration: none;
    margin: 0;
}
header h1 img{
    position: absolute;
    left: 0;
    top: 0;
}
header h1 span{
    color: #c8c10d; 
    position: relative;
}
header ul{
    padding: 0;
    list-style-type: none;
    text-align: center;
}
header>ul{
    float: right;
    margin-bottom: 10px;
}
header>ul>li{
    float: left;
    width:140px;
}
header ul a{
    color:#7a6666;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'LatoR';
}
header ul a.active{
    color:#cb3362;
}
header ul a:hover{
    color:#c8c10d;
}
header ul ul{
    display: none;
}
header>ul>li:hover ul{
    display: block;
}

/*Banner*/

figure{
    position: relative;
}
figure.container{
    padding-top: 0;
}
figure img{
    width: 100%;
    display: block;
}
figure .circles{
    width: 156px;
    height: 150px;
    position: absolute;
    right: 130px;
    bottom: 40px;
}
figure .circle_green, figure .circle_rose{
    width: 143px;
    height: 143px;
    border-radius: 50%;
    position: absolute;
}
figure .circle_green{
    background-color: rgb(200, 193, 13);
    top: 7px;
}
figure .circle_rose{
    background-color: rgb(202, 13, 111, .8);
    left: 13px;
}
figure .circle_rose a{
    font-family: 'Quicksand';
    font-size: 24px;
    color: #fff;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: -24px;
}

/*new product*/

.bg_product{
    background-color: #eae7e8;
    border:  solid 1px #eae7e8;
    
}
.bg_product img{
    float: right;
    width: 385px;
}
.bg_product h2{
    font-family: 'LatoB';
    color:#7a6666;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    margin-top: 50px;
}
.bg_product h3{
    font-family: 'MagraB';
    color:#cb3362;
    font-size: 30px;
    line-height: 24px;
    margin-bottom: 35px;
}
.bg_product p{
    font-family: 'RobotoR';
    color: #7a6666;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 46px;
}

/*icon home*/
.bg_icon{
    background-color: #c8c10d;
   
}
section ul{
    list-style-type: none;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0;
}
section ul li{
    display: inline-block;
    width: 24.5%;
    text-align: center;
}
section a{
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    font-family: "LatoR";
    text-transform: uppercase;
    line-height: 2;
}
/*footer*/
div footer{
    clear: both;
    height: 285px;
    background-color: #cb3362;
    
}
footer ul{
    text-align: center;
    padding-inline-start: 0;
    margin: 0;
}
footer ul li{
    list-style-type: none;
    display: inline-block;
    
    margin-right: 40px;
    padding-top: 82px;
    
}
footer a{
    text-decoration: none;
}
footer p {
    color: #fff;
    text-align: center;
    margin-top: 50px;
    font-size: 17px;
    font-weight: 400;
    font-family: "Roboto";
}